  .demo-card-square.mdl-card {
    float: left;
    margin: 1rem;
    position: relative;
  }
  .demo-card-square.mdl-card {
    float: left;
    margin: 1rem;
    position: relative;
  }

  .main-card {
    width: 320px;
    height: 320px;
  }

  .main-second {
    width: 320px;
    height: 320px;
  }

  .demo-card-square.mdl-card:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
  }

  .demo-card-square > .mdl-card__title {
    color: #fff;
    background: #03a9f4;
  }

  .demo-card-square > .mdl-card__accent {
    background: #ff9800;
  }
  body {
    background: #fafafa;
    position: relative;

  }
