
.align_center{
  text-align: center;
}

/* Image card  */
.demo-card-image.mdl-card {
  width: auto ;
  height: 100%;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
/*  padding: 16px;*/
  background: rgba(0, 0, 0, 0.4);
  color: white;
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.filename_main {
  text-align: center;
}
.main{
  background: url('../img/main.jpg') center / cover !important;
}
.recette1 {
  background: url('../img/recette1.jpg') center / cover !important;
}
.recette2 {
  background: url('../img/recette2.jpg') center / cover !important;
}
img {
  /* vertical-align: middle; */
  width: 100%;
  height: auto;
}
.nav-top {
	min-height: 45px;
}
.navbar_{
  background-color: #003718;
}
.mdl-grid {
    padding: 5px !important;
  }

.navbar-light .navbar-brand {
	color: white !important;
  font-weight: 500;
}
.mdl-button .material-icons {
	color: white;
}
table {
  width: 100%;
}
.td_footer {
  width: 20%;
  text-align: center;
  -webkit-color: gray;
  color: gray;
}
.menu_On {
  color: white;
}
a {
	color: rgb(255,255,255) !important;
}
a:hover {
  text-decoration: underline;
}
.mdl-grid {
	margin-bottom: 20px !important;
}
@media (max-width: 479px) {
  .mdl-grid {}
  }

@media (min-width: 480px) and (max-width: 839px) {
  .recette_ {
    min-height: 400px; }
   }

@media (min-width: 840px)    {
  .recette_ {
    min-height: 400px; }
  }
.mdl-logo {
	width: 6%;
}
