
.align_center{
  text-align: center;
}

/* Image card  */
.demo-card-image.mdl-card {
  width: auto ;
  height: 100%;
}
.demo-card-image > .mdl-card__actions {
  /* height: 52px; */
/*  padding: 16px;*/
  background: rgba(0, 0, 0, 0.4);
  color: white;
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.filename_main {
  text-align: center;
}
.main{
  background: url('../img/main.jpg') center / cover !important;
}
.portrait {
  background: url('../img/agro1.jpg') center / cover !important;
}
.recette1 {
  background: url('../img/recette1.jpg') center / cover !important;
}
.recette2 {
  background: url('../img/recette2.jpg') center / cover !important;
}
img {
  /* vertical-align: middle; */
  width: 100%;
  height: auto;
}
.nav-top {
	min-height: 45px;
}
.navbar_{
  background-color: #003718;
}
.mdl-grid {
    padding: 5px !important;
  }

.navbar-light .navbar-brand {
	color: white !important;
  font-weight: 500;
}
.mdl-button .material-icons {
	color: white;
}
table {
  width: 100%;
}
.td_footer {
  width: 20%;
  text-align: center;
  color: gray;
}
.td_footer > span > a{
  color: gray !important;
}
a {
	color: white !important;
}
a:hover {
  color: rgb(214, 205, 205) !important;
}
.mdl-grid {
	margin-bottom: 20px !important;
}
@media (max-width: 479px) {
  .mdl-grid {  }
  .mdl-logo {
  	width: 6%;
  }
  }

@media (min-width: 480px) and (max-width: 839px) {
  .recette_ {
    min-height: 400px;
  }
  .mdl-logo {
  	width: 6%;
  }
   }

@media (min-width: 840px)    {
  .recette_ {
    min-height: 400px; }
  .mdl-logo{
    width: 3%;
  }
  }
.subtitle {
    font-size: 12px;
    font-style: italic;
  }
h4 {
	-moz-osx-font-smoothing: grayscale;
	margin-top: 16px !important;
	margin-bottom: 0px !important;
}
.portrait_bg {
  box-shadow: 0px 0px 6px rgba(0,0,0,0.99);
  width: 85%;
  margin: 0 auto;
  padding: 0px 10px;;
  text-align: center;
}
.portrait_bg  > h5{
  margin-bottom: 0px;
}
.portrait_bg > img {
  min-height: 130px !important;
}
.portrait_bg > p, h5 {
  text-align: center;
}
.slider_quiz{
	min-width: 350px;
  margin: 20px auto;
}
.demo-list-item {
  width: 300px;
}
.answer {
	margin: 10px 0;
	text-align: center;
	min-width: 350px;
}
.answer-button {
	text-transform: none !important;
	width: 90%;
	line-height: normal !important;
	height: 50px !important;
}
.continuer {
  text-transform: none !important;
  line-height: normal !important;
	width: 35%;
	margin: 20px auto 0px auto;
}
.section_question {
  text-align: center ;
}
.section_question > h4 {
  margin: 0px auto 10px auto !important;
}
.text_div {
  padding: 0px 10px;
}

@media only screen and (min-width: 600px) {

  .text_div{
    margin: auto;
    margin-top: 100px;
  }

  .wrapper{
    padding-top:20px;

  }
}

@media only screen and (min-width: 700px) {

  .text_div{
    margin: auto;
    margin-top: 100px;
  }

  .wrapper{
    padding-top:50px;

  }
}





.recette_h3 {
	font-size: 18px !important;
	text-align: left !important;
	margin: 5px 0px !important;
	line-height: 15px !important;
}
.list-group-item.active {
	color: black !important;
	background-color: rgba(158,158,158, 0.20) !important;
	border-color: rgba(158,158,158, 0.20) !important;
}
.menu {
  color: #212529 !important;
}
.menu:hover {
  color: #212529 !important;
  text-decoration: underline: ;
}
.start {
	background: #003718 !important;
	color: white;
}
