<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.fongwama.madede"
        versionCode = "13"
        version     = "1.0" >

    <!-- versionCode is optional and Android only. It must be an integer -->


    <name>Madede</name>

    <description>
        Madede est une application mobile de présentation de la culture du haricot made in Congo et de la valorisation des producteurs de haricot
    </description>

    <author href="http://www.fongwama.com" email="mbote@Fongwama.com">
        Fongwama
    </author>

    <!-- build only for android -->
    <platform name="android" />

    <!-- icon -->
    <icon src="logo_EduPalu_icon.png" />


    <!-- no permission required -->
    <preference name="permissions" value="none" />

    <!-- plugin for whitelist url / protocols -->
    <plugin name="cordova-plugin-whitelist" />
    <!-- Allow links to web pages to open in a browser -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />


    <!-- access to external links -->
    <access origin="*" browserOnly="true"/>
    <!-- allow phone number dialing from app -->
    <access origin="tel:*" launch-external="yes" />

    <preference name="fullscreen" value="false" />


    <!-- splash screen -->
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.2" />
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="1500" />
    <gap:splash platform="android" gap:qualifier="port-ldpi"  src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash platform="android" gap:qualifier="port-mdpi"  src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash platform="android" gap:qualifier="port-hdpi"  src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash platform="android" gap:qualifier="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
    <gap:splash platform="android" gap:qualifier="port-xxhdpi" src="res/screen/android/screen-xxhdpi-portrait.png" />
    <gap:splash platform="android" gap:qualifier="port-xxxhdpi" src="res/screen/android/screen-xxxhdpi-portrait.png" />
    <gap:splash src="splash.png" />

    <!-- you can use any density that exists in the Android project -->

    <!-- <platform name="android">
        <splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
        <splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
        <splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
        <splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>

        <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
        <splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
        <splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
        <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
    </platform> -->

    <!-- <platform name="ios"> -->
        <!-- There are two mechanisms for showing launch images.
          -- Legacy method (supports all devices except iPad Pro 12.9):
          -- Note: Images are determined by width and height. The following are supported -->
        <!-- <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
        <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
        <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
        <splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/> -->
        <!-- Storyboard method (supports all devices):
          -- Important: If you use the storyboard method, legacy images are
          -- copied but ignored.
          -- Note: images are determined by scale, idiom, and size traits. The following
          -- are suggested based on current device form factors -->
        <!-- <splash src="res/screen/ios/Default@2x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@2x~universal~comany.png" />
        <splash src="res/screen/ios/Default@2x~universal~comcom.png" />
        <splash src="res/screen/ios/Default@3x~universal~anyany.png" />
        <splash src="res/screen/ios/Default@3x~universal~anycom.png" />
        <splash src="res/screen/ios/Default@3x~universal~comany.png" />

    </platform> -->


    <preference name="stay-in-webview" value="false"/>

</widget>
